alembic==1.9.4
appdirs==1.4.4
attrs==22.2.0
beautifulsoup4==4.11.2
brotlipy==0.7.0
certifi @ file:///croot/certifi_1671487769961/work/certifi
cffi @ file:///croot/cffi_1670423208954/work
charset-normalizer @ file:///tmp/build/80754af9/charset-normalizer_1630003229654/work
click==8.1.3
cmaes==0.9.1
colorlog==6.7.0
contourpy==1.0.7
cryptography @ file:///croot/cryptography_1673298753778/work
cycler==0.11.0
dgl==1.0.0
filelock==3.9.0
flit_core @ file:///opt/conda/conda-bld/flit-core_1644941570762/work/source/flit_core
fonttools==4.38.0
gdown==4.6.3
geoopt==0.1.0
greenlet==2.0.2
huggingface-hub==0.12.1
idna @ file:///croot/idna_1666125576474/work
Jinja2==3.1.2
joblib==1.2.0
jsonlines==3.1.0
kiwisolver==1.4.4
Mako==1.2.4
MarkupSafe==2.1.2
matplotlib==3.7.0
mkl-fft==1.3.1
mkl-random @ file:///home/builder/ci_310/mkl_random_1641843545607/work
mkl-service==2.4.0
networkx @ file:///opt/conda/conda-bld/networkx_1657784097507/work
nltk==3.8.1
numpy @ file:///croot/numpy_and_numpy_base_1672336185480/work
nvidia-cublas-cu11==11.10.3.66
nvidia-cuda-nvrtc-cu11==11.7.99
nvidia-cuda-runtime-cu11==11.7.99
nvidia-cudnn-cu11==8.5.0.96
optuna==3.1.0
packaging @ file:///croot/packaging_1671697413597/work
pandas==1.5.3
Pillow==9.4.0
pooch @ file:///tmp/build/80754af9/pooch_1623324770023/work
psutil @ file:///opt/conda/conda-bld/psutil_1656431268089/work
pycparser @ file:///tmp/build/80754af9/pycparser_1636541352034/work
pyOpenSSL @ file:///opt/conda/conda-bld/pyopenssl_1643788558760/work
pyparsing==3.0.9
PySocks @ file:///home/builder/ci_310/pysocks_1640793678128/work
python-dateutil==2.8.2
pytz==2022.7.1
PyYAML==6.0
regex==2022.10.31
requests @ file:///opt/conda/conda-bld/requests_1657734628632/work
scikit-learn==1.2.1
scipy==1.10.0
six @ file:///tmp/build/80754af9/six_1644875935023/work
sklearn==0.0.post1
soupsieve==2.4
SQLAlchemy==2.0.4
threadpoolctl==3.1.0
tokenizers==0.13.2
torch==1.11.0
torch-geometric==2.2.0
torch-scatter==2.1.0
torch-sparse==0.6.16
torchaudio==0.11.0
torchvision==0.14.1+cu116
tqdm @ file:///opt/conda/conda-bld/tqdm_1664392687731/work
transformers==4.26.1
typing_extensions @ file:///croot/typing_extensions_1669924550328/work
urllib3 @ file:///croot/urllib3_1673575502006/work
